.title {
	text-align:center;
}

.section {
	text-align:center;
}

.link {
	list-style-type:none;
	margin:0;
	padding:0;
}

.button {
	color: white;
	background-color: red;
}

.button:hover {
	color: red;
	background-color: white;
}

.buttonPwn {
	color: white;
	background-color: black;
}

.buttonPwn:hover {
	color: black;
	background-color: white;
}

.success {
	color: green;
}

.error {
	color: red;
}

.load {
	color: blue;
}

.wait {
	color: black;
}
