.title {
	text-align:center;
	color: orange;
}

.section {
	text-align:center;
	color: orange;
}

.center {
	margin: auto;
}

.flex {
	display: flex;
}

.link {
	list-style-type:none;
	margin: auto;
	display: flex;
	flex-direction: row;
}

.dl_ready {
	list-style-type:none;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	border-color: blue;
}

.thumb {
	margin: auto;
}
  
.card {
	margin: auto;
	margin: 1rem;
	padding: 1.5rem;
	text-align: center;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 400px;
}

.card:hover,
.card:focus,
.card:active {
  border-color: orange;
}

@media (prefers-reduced-motion: no-preference) {
	.card:hover {
	  animation: link-move 0.4s ease-in-out;
	}
  }
  
@keyframes link-move {
	0% { 
		transform: scale(1);
		background: orange;
	}
	50% { 
		transform: scale(1.1);
		background: orange;
	}
	100% { 
		transform: scale(1);
		background: orange;
	}
}

.button {
	font-size: large;
	color: white;
	width: 30%;
	height: 40px;
	background-color: red;
	border: none;
	border-radius: 50%;
	transition: 1s;
}

.button:hover {
	color: red;
	width: 40%;
	background-color: white;
	border-radius: 0;
	transition: 1s;
}
  
.quality_btn {
	color: white;
}

.hide {
	display: none;
}

.success {
	color: green;
}

.error {
	color: red;
}

.load {
	color: white;
}

.wait {
	color: white;
}

.waiting_url {
	width: 50%;
	height: 50px;
	text-align: center;
	font-size: large;
}

.invalid_url {
	background: rgba(255, 0, 0, 0.4);
	width: 50%;
	height: 50px;
	text-align: center;
	color: white;
	font-size: large;
}

.locked_url {
	background: rgba(100, 100, 100, 0.4);
	width: 50%;
	height: 50px;
	text-align: center;
	color: grey;
	pointer-events: none;
}

.valid_url {
	background: rgba(100, 255, 100, 0.4);
	width: 50%;
	height: 50px;
	text-align: center;
	color: white;
	font-size: large;
}

.app_logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app_logo {
    animation: app-logo-spin infinite 60s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
